@import "../../index.scss";

.dropdown {
   &-btn {
      font-weight: 500;
      font-size: 18px;
      line-height: 29px;
      position: relative;
   }
   &-container{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      cursor: pointer;
      min-width: 25px;
      img{
         object-fit: contain;
      }
   }
   &-content {
      position: absolute;
      background: #ffffff;
      top: 40px;
      left: -90%;
      min-width: 115px;
      z-index: 4;
      box-shadow: 0 0 10px #EEEEEE;
   }
   &-item {
      padding: 8px 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: 29px;
      cursor: pointer;
      &:hover{
         background: #EEEEEE;
      }
   }
}
.dropdown-icon.open{
   img{
      transform: rotate(180deg);
   }
}