@import "../../index.scss";

.cart {
   &-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      margin: 50px 0px;
   }
   &-info {
      margin: 30px 0px 0px 0px;
   }
   &-button {
      width: 279px;
      height: 43px;
      color: #ffffff;
      text-transform: uppercase;
      background-color: $colorGreen;
      margin: 0px 0px 20px 0px;
      &:hover {
         box-shadow: 2px 2px 2px #559e68;
      }
      &:active {
         background-color: #5eb376;
         box-shadow: 0 0 0 #559e68;
      }
   }
}
.infoitem {
   display: flex;
   align-items: center;
   gap: 5px;
   margin: 5px;
   &-name {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      padding: 5px;
   }
   &-value {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      padding: 5px;
   }
}
.cart {
   .item-info-img {
      height: 288px;
      width: 200px;
   }
   .slider-navigation {
      visibility: visible;
      opacity: 1;
   }
   .item-brand {
      font-weight: 600;
      font-size: 30px;
      line-height: 27px;
      margin: 0px 0px 30px 0px;
   }
   .item-name-o {
      font-weight: 400;
      font-size: 30px;
      line-height: 27px;
   }
   .attribute-title {
      text-transform: uppercase;
   }
   .btns {
      height: 45px;
      width: 45px;
   }
}
