@import "../../index.scss";

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
   
}
body.lock {
   overflow: hidden;
   padding-right: 17px;
}
.header.active{
   
   &::before {
      content: "";
      position: absolute;
      top: 90px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(57, 55, 72, 0.22);
      z-index: 2;
   }
}
.header-item {
   padding: 0 5px;
   &:last-child {
      padding: 0 5px 0 150px;
   }
}
.header-list {
   display: flex;
   align-items: center;
   gap: 32px;
}
.header-list-item {
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   position: relative;
   padding: 30px 5px;
   & a {
      color: $colorBlack;
   }
   &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $colorGreen;
      transition: all ease 0.4s;
   }
   &:hover a {
      color: $colorGreen;
      font-weight: 600;
      &::after {
         left: -20%;
         width: 140%;
      }
   }
   &:hover {
      &::after {
         left: -20%;
         width: 140%;
      }
   }
}

.header-list-link.active {
   color: $colorGreen;
   font-weight: 600;
   &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20%;
      width: 140%;
      height: 2px;
      background-color: $colorGreen;
   }
}

.header-icon {
   width: 32px;
   height: 29px;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
.header-service {
   display: flex;
   align-items: center;
   position: relative;
}
.header-shoppingcart {
   margin: 0px 0px 0px 25px;
   width: 30px;
   height: 30px;
   cursor: pointer;
   padding: 2px;
   position: relative;
   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
   &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 3px;
      background-color: $colorGreen;
      transition: all ease 0.4s;
   }
   &:hover {
      &::after {
         left: 0;
         width: 120%;
      }
   }
   &-count {
      opacity: 0;
      visibility: hidden;
      transform: scale(0.2);
      width: 20px;
      height: 20px;
      background: rgba(29, 31, 34, 1);
      color: #ffffff;
      border-radius: 50%;
      font-weight: 700;
      font-size: 14px;
      display: flex;
      justify-content: center;
      padding-top: 2px;
      position: absolute;
      top: -20%;
      right: -20%;
      transition: all ease-in-out 0.3s;
   }
   &-overlay {
      position: absolute;
      top: -750px;
      right: 0px;
      width: 325px;
      max-height: 675px;
      z-index: 2;
      background: #ffffff;
      padding: 10px;
      transition: all ease 0.4s 0s;
      opacity: 0;
      visibility: hidden;
   }
}
.header-shoppingcart-overlay.active {
   top: 60px;
   opacity: 1;
   visibility: visible;
   box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.header-shoppingcart-count.active {
   opacity: 1;
   visibility: visible;
   transform: scale(1);
}

.header-select {
   position: absolute;
   top: 0;
   right: 50px;
}

