.item-info-count-extra{
   display: none;
}
.item-info-count-extra-label{
   margin: 10px 0px;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   span{
      font-size: 24px;
      align-items: center;
      vertical-align: middle;
      padding-left: 5px;
   }
}
.item-info-count-extra-textarea{
   border: 1px solid #000;
   resize: none;
}